* {
	font-size: 20px;
	font-family: 'Xanh Mono', monospace;

}

.encabezado {
	background: #f00;
	text-align: center;
	width: 100%;
	height: 90px;
	line-height: 80px;
}

.img {
	position: relative;
	bottom: 80px;
	float: left;
	width: 150px;
	height: : 150px;
	background-image:
}

audio {
	position: relative;
	float: right;
	width: 100px;
	bottom: 60px;
}

.container__nav {
	box-sizing: border-box;
	width: 30%;
	height: 480px;
	padding-top: 80px;
	text-align: left;
	position: relative;
	display: inline-block;
	background: #99ffff;
	right: 150PX;

}

.container__nav li {

	margin: 30px;
	padding: -20px;

}

.container__nav i {
	width: 30px;
	box-sizing: border-box;
	text-align: right;
	margin-right: 30px;
}

.content {


	position: relative;
	box-sizing: border-box;
	bottom: 480px;
	left: 400px;
	overflow: scroll;
	padding: 10px;
	width: 40%;
	height: 480px;
	background: #0099ff;
}

.input {
	box-sizing: border-box;
	background: #99ff99;
	position: relative;
	bottom: 961px;
	left: 933px;
	width: 30%;
	height: 481px
}

.input input {
	background: #0099ff;
}

.img__aside {
	width: 380px;
	height: 300px;
	position: relative;
	margin-top: 30px;
}

::placeholder {
	color: #190714;
	text-align: center;

}

footer {
	background: #4000FF;
	position: relative;
	bottom: 962px;
	height: 38px;
	text-align: center;
	padding-top: 10px;
	color: white;
}